params.species = "human"
params.project_name = "gwas"
params.include_chr = "autosome"
params.sex_info = ""
params.threads = "15"
params.pheno = ""
params.covar = ""
params.covar_names = ""


//Report
params.tracedir = "${baseDir}/pipeline_info"
timeline {
	enabled = true
	file = "${params.tracedir}/execution_timeline.html"
}
report {
	enabled = true
	file = "${params.tracedir}/execution_report.html"
}
